:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



button {
  background:linear-gradient(to bottom right, #F28183,#DA2A4A, #DA2A4A);
  color: #f9c254;
  text-shadow: -1px 2px 2px #000;
  border: 2px solid black;
  position: absolute;
  bottom: 10%;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  z-index: 900;
}
button:hover {
  border-color: #bd8f31;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}